<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengsongjun.mybatis.mapper.AccountMapper">
  <select id="selectAccount" resultType="account">
    select * from account where id = #{id}
  </select>
  <select id="selectAccountList" resultType="account">
    select * from account
  </select>
<!--  insert-->
  <insert id="insertAccount">
    insert into account (name,count) values (#{name},#{count})
  </insert>
<!--  update-->
  <update id="updateAccount">
    update account set count = #{count} where id = #{id}
  </update>
<!--  delete-->
  <delete id="deleteAccount">
    delete from account where id = #{id}
  </delete>
</mapper>