<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengsongjun.mybatis.mapper.UserMapper">
    <resultMap id="resultUserMapper" type="user">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="age" column="age" />
        <result property="saleMoney" column="sale_money" />
    </resultMap>
    <select id="selectUserAll" resultMap="resultUserMapper">
        select * from user
    </select>
    <select id="selectUserById"  resultMap="resultUserMapper">
        select * from user where id = #{id}
    </select>

    <insert id="insertUser">
        insert into user (name,age) values (#{name},#{age})
    </insert>

    <select id="selectMySQLCase" resultMap="resultUserMapper" >
        select * from user
        where id != ''
        <if test="user.saleMoney != null">and sale_money > #{user.saleMoney}</if>
        <if test="user.age != null">and age > #{user.age}</if>
    </select>


</mapper>