<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengsongjun.mybatis.mapper.UserMapper">
    <select id="selectUserAll" resultType="user">
        select
        id , name , age , sale_money as saleMoney
        from user
    </select>
    <select id="selectUserById" resultType="user">
        select
        id , name , age , sale_money as saleMoney
        from user where id = #{id}
    </select>

    <insert id="insertUser">
        insert into user (name,age) values (#{name},#{age})
    </insert>

</mapper>